<!DOCTYPE html>
<html>
<head>
  <title>TestRest2</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>

<%= yield %>
g'day  2222asdasdasd
</body>
</html>
